@import model.Transaction
@(total: List[Transaction], salary: List[Transaction], totalWithDrawal: List[Transaction], moreThan1KWithdrawal: List[Transaction])
@main("deposits") {
	<div class="summary">

		<h2><a data-toggle="collapse" href="#collapseTotalWithDrawal" aria-expanded="totalWithDrawal">Total Withdrawal:</a>@totalWithDrawal.map(_.amount).sum</h2>
		<div class="collapse" id="collapseTotalWithDrawal">
			<div class="card card-block">
				<table class="table table-striped table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					@totalWithDrawal.sortWith(_.amount > _.amount).map { t =>
						<tr>
							<td>@t.dateTime</td>
							<td>@t.description</td>
							<td>@t.amount</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
		<h2><a data-toggle="collapse" href="#collapseMoreThan1KWithDrawal" aria-expanded="moreThan1KWithDrawal">MoreThan1KWithDrawal:</a>@moreThan1KWithdrawal.map(_.amount).sum</h2>
		<div class="collapse" id="collapseMoreThan1KWithDrawal">
			<div class="card card-block">
				<table class="table table-striped table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					@moreThan1KWithdrawal.sortWith(_.amount > _.amount).map { t =>
						<tr>
							<td>@t.dateTime</td>
							<td>@t.description</td>
							<td>@t.amount</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>


		<h2><a data-toggle="collapse" href="#collapseTotal" aria-expanded="totalDeposit">Total:</a>@total.map(_.amount).sum</h2>
		<div class="collapse" id="collapseTotal">
			<div class="card card-block">
				<table class="table table-striped table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					@total.map { t =>
						<tr>
							<td>@t.dateTime</td>
							<td>@t.description</td>
							<td>@t.amount</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
		<h2><a data-toggle="collapse" href="#collapseSalary" aria-expanded="salary">Salary:</a>@salary.map(_.amount).sum</h2>

		<div class="collapse" id="collapseSalary">
			<div class="card card-block">
				<table class="table table-striped table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					@salary.map { t =>
						<tr>
							<td>@t.dateTime</td>
							<td>@t.description</td>
							<td>@t.amount</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>

}